body {
  background: white;
}

a {
  color: #e7e7e7;
}

.App {
  text-align: center;
  margin-top: 30px;
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

.App-footer a {
  text-decoration: none;
  color: #0044fd;
}

.App-mickey {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}
